language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 8
script:
  - travis_wait npm run test
  - npm run lint:test
  - npm run compile:test -- --noEmit
before_install:
- printf "@poker:registry=https://pokerkz.pkgs.visualstudio.com/_packaging/50dc0ca2-b4b7-4773-922d-1f1486f9c8c8/npm/registry/\n" >> ~/.npmrc
- printf "//pokerkz.pkgs.visualstudio.com/_packaging/50dc0ca2-b4b7-4773-922d-1f1486f9c8c8/npm/registry/:_authToken=${NPM_TOKEN}\n" >> ~/.npmrc
- printf "//pokerkz.pkgs.visualstudio.com/_packaging/50dc0ca2-b4b7-4773-922d-1f1486f9c8c8/npm/:_authToken=${NPM_TOKEN}\n" >> ~/.npmrc
- printf "always-auth=true\n" >> ~/.npmrc
after_success:
  - npm run report-coverage