<!-- ko if: data -->
<div style="width: 50%; float: left;">
    <h3 class="centered" data-bind="ltext: 'tournamentLobby.prize.place'">Level</h3>
    <ul class="list-box menu-list" data-bind="foreach: structure">
        <li class="centered" data-bind="numericText: place">1</li>
    </ul>
</div>
<div style="width: 50%; float: left;">
    <h3 class="centered" data-bind="ltext: 'tournamentLobby.prize.amount'">Blinds</h3>
    <ul class="list-box menu-list" data-bind="foreach: structure">
        <li class="centered">
            <span data-bind="numericText: amount">100</span>
            (<span data-bind="numericText: percent">100 %</span> %)

        </li>
    </ul>
</div>
<div style="clear: both"></div>
<!-- /ko -->
